body {
    margin: 0;
    padding: 0;
}

body * {
    font-family: Arial, Helvetica, sans-serif;
}

@media (min-width: 768px) {
    #wd-kanbas .wd-main-content-offset {
        padding-left: 140px !important;
    }
}

.list-group.wd>.list-group-item.active {
    color: black;
    background-color: white;
    border-left: 3px solid black !important;
}

.btn-secondary {
    --bs-btn-color: #000 !important;
    --bs-btn-bg: #c7cdd1 !important;
    --bs-btn-border-color: #c7cdd1 !important;
    --bs-btn-hover-color: #fff !important;
}

.bg-secondary {
    --bs-secondary-rgb: 199, 205, 209;
}

.list-group-item {
    --bs-list-group-border-color: gray;
}

.wd-lesson {
    border-left: 3px solid green !important;
}

.search-input {
    padding-left: 0px !important;
    border-left: none !important;
}

.percentage-button {
    border: 1px solid gray !important;
    border-radius: 50px !important;
    padding: 5px 15px !important;
    font-size: 16px !important;
    color: black !important;
}

.wd-assignment-link {
    font-size: 1.25rem;
    color: black;
    font-weight: bold;
    text-decoration: none;
}

.wd-assignment-list-item {
    border-left: 3px solid green !important;
}

.wd-assignment-editor-frame {
    padding: 12px;
    border-radius: 5px;
    border: 1px solid lightgray;
}

#wd-modules, #wd-modules-controls {
    max-width: 800px;
    margin-right: 20px;
    margin-left: auto;
    margin-right: auto;
    padding-right: 30px;
}
